.foot-img{
    height: 45rem;
    width: 118rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-txt{
    padding-left: 5px;
    padding-top: 10px;
    
}
.a-tag{
    color: white;
    text-decoration: none;
}